{% extends "home/index.html" %}

{% block title %} Daftar Kegiatan {% endblock %}

{% block content %}
<!--  Populate semua isi pesan dari model -->
<table class="table">
    <thead>
        <th>Nama Kegiatan</th>
        <th>Tempat</th>
        <th>Kategori</th>
        <th>Waktu</th>
    </thead>
    <tbody>
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in message %}
        <tr class="warning"> {% else %} <tr class="success">
            {% endif %}
            <td> {{i.kegiatan}} </td>
            <td> {{i.tempat}} </td>
            <td> {{i.kategori}} </td>
            <td> {{i.waktu.time}} </td>
        </tr>             
        {% endfor %}
    </tbody>
</table>

{% endblock %}
