<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Afif's Personal Web</title>
        
        <!--  jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    </head>
    
    <body>
        <div class=zero>
            <img src="{% static 'ui.png' %}" alt="bg" class="bg">
            <p class="b" >{{ name }}</p>
            <p class="g">Designer. Developer.</p>
            <img src="{% static 'pp.png' %}" alt="PP" class="centered" width="200" height="200">
        </div>
        
        <div class="one">
            <p class="a" >ABOUT ME</p>
            <hr class="line" size="10" width="5%" noshade>
            <br><br><br><br><br>
            <h2>Muhammad Afiful Amin. 1706039963</h2>
            Student of Faculty of Computer Science, Universitas Indonesia.<br>
            <br><br>
            Depok, 16425<br>
            +62822 8455 7455<br>
            <span style="color:#2f3349"><b>mafifulamin@gmail.com</b></span><br>
        </div>

        <div class="two">
            <p class="a" >MY SCHEDULE</p>
            <hr class="line" size="10" width="5%" noshade>
            <br><br><br><br>

            <section name="form">
                <h2>Tambahkan Jadwal</h2>
                <form id="form" method="POST" action="{% url 'add_jadwal' %}">
                    {% csrf_token %}
                    {{ jadwal_form }}
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </section>
            

            <footer class="footer">
                <div class="container">
                    <span class="text-muted">2018. Muhammad Afiful Amin. Fakultas Ilmu Komputer Umiversitas Indonesia.</span>
                </div>
            </footer>
            <img src="{% static 'ui.png' %}" alt="bgf" class="bgf">
        </div>
        
    </body>
</html>
