body, html {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body {
    font-family: "Helvetica Neue";
    color: #5a5a5a;
    font-size: 18px;
}

.zero{
    color: #36384c;
    text-align: center;
    position: relative;
    height: 87vh;
    scroll-snap-align: start;
}

.one{
    position: relative;
    background-color: #fff;
    text-align: center;
    height: 87vh;
    scroll-snap-align: start;
}

.two{
    position: relative;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}

.bg {
    position: absolute;
    width: 100%;
    height: 50%; 
    left: 0%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.bgf {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%; 
    left: 0%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.centered {
    position: absolute;
    max-height: 200%;
    max-width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px){
    .centered{
        width:100px;
        height:100px;
    }  
}

p.b {
    position: absolute;
    top: 20%;
    left: 50%;
    font-family: "Patua One", cursive;
    color: whitesmoke;
    transform: translate(-50%, -50%);
    font-size: 90px;
}

p.g {
    position: absolute;
    top: 28%;
    left: 50%;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    color: #adc997;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

p.a {
    position: absolute;
    top: 5%;
    left: 50%;
    font-family: "Patua One", cursive;
    color: #36384c;
    transform: translate(-50%, -50%);
    font-size: 4vh;
}

@media screen and (max-width: 1350px){
    p.b{
        font-size: 70px;
    }
    p.g{
        font-size: 26px;
        top: 28%;
    }   
}


@media screen and (max-width: 1100px){
    p.b{
        font-size: 50px;
    } 
    p.g{
        font-size: 22px;
        top: 26%;
    }  
}

@media screen and (max-width: 768px){
    p.b{
        font-size: 30px;
    }  
    p.g{
        font-size: 18px;
        top: 24%;
    } 
}

@media screen and (max-width: 480px){
    p.b{
        font-size: 25px;
    }  
    p.g{
        font-size: 15px;
        top: 23.5%;
    } 
    h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 360px){
    p.b{
        font-size: 20px;
    }  
    p.g{
        font-size: 10px;
        top: 23%;
    } 
}

.line {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: sticky;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}